@layer components {
  .stack,
  .cluster {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 0;
  }

  .stack {
    display: grid;
    align-content: start;
  }

  .cluster {
    display: flex;
    flex-wrap: wrap;
  }

  .xs {
    gap: var(--space-1);
  }

  .sm {
    gap: var(--space-2);
  }

  .md {
    gap: var(--space-4);
  }

  .lg {
    gap: var(--space-6);
  }

  .xl {
    gap: var(--space-8);
  }

  .align-start {
    align-items: flex-start;
  }

  .align-center {
    align-items: center;
  }

  .align-baseline {
    align-items: baseline;
  }

  .align-end {
    align-items: flex-end;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-end {
    justify-content: flex-end;
  }
}
